#indexCenter {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 25px;
    margin: 0 auto;
    position: relative;
}

#loginCenter {
    margin-top: 50px;
    width: 300px;
    border-radius: 10px;
    border: 10px;
    padding: 25px;
    margin: 0 auto;
    position: relative;
}

#bill-generate {
    margin-top: 50px;
    width: 500px;
    border-radius: 10px;
    border: 10px;
    padding: 25px;
    margin: 0 auto;
    position: relative;
    background-color: #ecf0f1;
}

#create-account {
    margin-top: 50px;
    width: 500px;
    border-radius: 10px;
    border: 10px;
    padding: 25px;
    margin: 0 auto;
    position: relative;
    background-color: #ecf0f1;
    margin-bottom:100px;
}





#indexText {
    text-align: center;
}

#loginForm{
    width: 500px;
    margin: 0 auto;
}

#nav-bar-date{
    color: aliceblue;
}